@model MVC_Sort_Test.Models.SortEntry
@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1 class="display-1">SuperSorter5000</h1>
    <h2 calss="display-4">Sorts ints in milliseconds!</h2>
</div>
<hr />


<div class="text-center">
    <form>   
         <a asp-controller="SortEntries" asp-action="Create" class="btn btn-primary btn-lg">Sort a new list.</a>
         <a asp-controller="SortEntries" asp-action="Index" class="btn btn-primary btn-lg">View all sorted lists.</a>
    </form>
</div>