@model MVC_Sort_Test.Models.SortEntry

@{
	ViewData["Title"] = "Create";
}

<h1 class="text-center">Sort custom CSV</h1>
<hr />
<div class="text-center">
	<div class="text-center">
		<form asp-action="Create">
			<div asp-validation-summary="ModelOnly" class="text-danger"></div>

			<fieldset class="form-group text-center">
				<legend>Sort direction</legend>
				<div class="form-check form-check-inline text-center">
					<input asp-for="SortOrder" value="1" type="radio" class="form-check-input form-check-inline text-center" id="radio1" checked />
					<label class="form-check-label text-center" for="radio1">Ascending</label>
					<span asp-validation-for="SortOrder" class="text-danger"></span>
				</div>
				<div class="form-check form-check-inline text-center">
					<input asp-for="SortOrder" value="-1" type="radio" class="form-check-input text-center" id="radio2" />
					<label class="form-check-label text-center" for="radio2">Descending</label>
					<span asp-validation-for="SortOrder" class="text-danger"></span>
				</div>
			</fieldset>
			<div class="form-group text-start">
				<label asp-for="OriginalCSV" class="control-label">Comma-seperated values</label>
				<label asp-for="OriginalCSV" class="control-label">Values grater or lower than -2147483647 / 2147483647 will be excluded!</label>
				<input asp-for="OriginalCSV" class="form-control" placeholder="123,45,6,7,89,0" />
				<span asp-validation-for="OriginalCSV" class="text-danger"></span>
			</div>
			<div class="form-group ">
				<button type="submit" class="btn btn-primary btn-lg">Sort My CSV</button>
			</div>
		</form>
		<h1 class="text-center">Sort random CSVs</h1>
		<hr />
		<div class="text-center">
			<div class="text-center d-inline-block">
				<form asp-action="CreateRandom" asp-route-id="10">
					<button type="submit" class="btn btn-success btn-lg">Sort 10 randomCSVs</button>
				</form>
			</div>
			<div class="text-center d-inline-block">
				<form asp-action="CreateRandom" asp-route-id="100">
					<button type="submit" class="btn btn-success btn-lg">Sort 100 randomCSVs</button>
				</form>
			</div>
			<div class="text-center d-inline-block">
				<form asp-action="CreateRandom" asp-route-id="1000">
					<button type="submit" class="btn btn-success btn-lg">Sort 1000 randomCSVs</button>
				</form>
			</div>
		</div>
	</div>
</div>

<div>
	<a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
	await Html.RenderPartialAsync("_ValidationScriptsPartial");
	}
}
