@{
     ViewData["Title"] = "DeleteAll";
}

<h1>Delete All</h1>
<h3>Are you sure you want to delete ALL entries?</h3>
<form asp-action="DeleteAll"> 
    <input type="submit" value="Delete All" class="btn btn-danger"   />
</form>