@model MVC_Sort_Test.Models.SortEntry

@{
    ViewData["Title"] = "Details";
}

<h1 class="text-center">Details</h1>
<h4 class="text-center">id#@Model.Id</h4>
<hr />
<h5 class="text-center">DateAdded:</h5>
<p class="text-center text-break text-wrap">@Model.DateAdded</p>

<h5 class="text-center">OriginalCSV:</h5>
<p class="text-center">
	<a class="" data-bs-toggle="collapse" href="#originalCSV" role="button" aria-expanded="false" aria-controls="originalCSV">
	 Show OriginalCSV
	</a>
</p>
<div class="text-center text-break text-wrap collapse" id="originalCSV">@Model.OriginalCSV</div>

<h5 class="text-center">SortedCSV:</h5>
<p class="text-center">
	<a class="" data-bs-toggle="collapse" href="#sortedCSV" role="button" aria-expanded="false" aria-controls="sortedCSV">
	 Show SortedCSV
	</a>
</p>
<div class="text-center text-break text-wrap collapse" id="sortedCSV">@Model.SortedCSV</div>

<h5 class="text-center" >Sort Direction:</h5>
<p class="text-center text-break text-wrap">
	@if (Model.SortOrder == 1) 
	{
		var s = "Ascending";
		@s
		
	}else
	{
		var s = "Descending";
		@s
	}
</p>

<h5 class="text-center" >Sort Time:</h5>
<p class="text-center text-break text-wrap">
	@Model.SortTime
</p>
<div class="text-center">
	<form>	
		<a class="btn btn-primary"asp-action="Index">Back to Sorter</a>
	</form>
</div>
